body {
    display: flex;
    flex-direction: column;
    background-color: #2a2b2e;
}

.content-box {
    background-color: #dee7e7;
}

.carousel {
    z-index: -99;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 50%;
}